
# pixi environments
.pixi
*.egg-info
benchmarks/*/*/cases/*/0_preprocess
benchmarks/*/*/cases/*/1_mismatch
benchmarks/*/*/cases/*/2_SuspiciousLine
parsetab.py
parser.out
**/__pycache__
logs/**
workdir
result.csv